@import "../../../css/ui.less";

.uiTrade {
	width: auto;

	.no-afford {
		position: absolute;
		left: 5px;
		top: 5px;
		width: calc(100% - 10px);
		height: calc(100% - 10px);
		background-color: fade(@red, 15%);
	}	
}