<div class="uiLogin">
	<img class="logo" src="images/logo_4.png" alt="">
	<div class="news">
		<div class="heading">what's new</div>
		<div class="list">
			<div class="item">Faction Quartermasters</div>
			<div class="item">New Unlockable Skin</div>
			<div class="item">New Map: City Sewer</div>
			<div class="item">Factions and Reputations</div>
			<div class="item">You can now filter the chat window</div>
			<div class="item">Prophecies. When creating a new character you can choose which prophecies to apply. This includes a permadeath prophecy called 'hardcore'.</div>
		</div>
	</div>
	<div class="right">
		<input type="text" class="el textbox txtUsername" placeholder="username">
		<input type="password" class="el textbox txtPassword" placeholder="password">
		<div class="top-buttons">
			<div class="el button btnRegister">register</div>
			<div class="el button btnLogin">login</div>
		</div>
		<div class="message"></div>
		<div class="buttons">
			<div class="el button btnPatreon" location="http://patreon.com/bigbadwaffle">Pledge on Patreon</div>
			<div class="el button btnPaypal" location="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=BR2CC82WUAVEA">Donate on Paypal</div>
			<div class="el button btnWiki" location="http://isleward.gamepedia.com/Isleward_Wiki">Access the Wiki</div>
		</div>
	</div>
</div>